<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="THI_TN.Properties.Settings.THI_TNConnectionString"
      connectionString="Data Source=MSI\MSSQLSERVER01;Initial Catalog=THI_TN;Persist Security Info=True;User ID=sa;Password=123456;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="localhost_THI_TN_Connection" connectionString="XpoProvider=MSSqlServer;data source=MSI\MSSQLSERVER01;user id=sa;password=123456;initial catalog=THI_TN;Persist Security Info=true" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>